.row {
    --bs-gutter-x: 0;
    border: soild 1px gray;
}

.col {
    border: soild 1px gray;
}

#pagecontents {
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    background-color: white;
}

#leftnav-contents-rightnav {
    display: flex;
    flex-direction: column;
    flex: auto;
}

#leftnav-contents-rightnav .row {
    flex: auto;
}

#mainrowxx {
    flex: auto;
}

#leftnav {
    display: flex !important;
    flex-direction: column;
    display: inline;
    background-color: rgb(231, 230, 230);
    padding: 10px;
    min-width: 200px;
}

#leftnav .nav {
    flex: auto;
}

#content {
    background-color: white;
    padding: 10px;
}

#rightnav {
    flex: none;
    background-color: rgb(231, 230, 230);
    padding: 10px;
    min-width: 200px;
}

#footer {
    background-color: rgb(231, 230, 230);
    padding: 10px;
}

#footer .container {
    padding: 10px;
}

#footer-links a {
    color: rgb(102, 102, 102);
}

#backtotop-and-message {
    background-color: rgb(192, 192, 192);
}

#gotoTop {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 20px;
    background: white;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);

    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
}